
<% if @fruit %>
  <h1><%= @fruit['name'] %></h1><br>
  <ul>
    <li>Family: <%= @fruit['family'] %></li>
    <li>Order: <%= @fruit['order'] %></li>
    <li>Genus: <%= @fruit['genus'] %></li>
  </ul>
 
 <h6 class="text-lg font-bold text-left">Nutrients:</h6>
  <ul>
    <li>Calories: <%= @fruit['nutritions']['calories'] %></li>
    <li>Sugar: <%= @fruit['nutritions']['sugar'] %></li>
    <li>Fat: <%= @fruit['nutritions']['fat'] %></li>
    <li>Carbohydrates: <%= @fruit['nutritions']['carbohydrates'] %></li>
    <li>Protein: <%= @fruit['nutritions']['protein'] %></li>
  </ul>

<% else %>
  <p>Fruit not found!</p>
<% end %>

<div class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
  <%= link_to "Back to fruits", fruits_path %>
</div>